<div class="container">
    <div class="well text-center row">
        <div class="col-md-10">
            <h2>Магазин мобильных телефонов</h2>
            <div class="input-group col-md-6">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                <input type="text" class="form-control" placeholder="Search for..." ng-model="search.name">
            </div>
        </div>
        <div class="col-md-2">
            <button ng-click="listItem()">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
            <button ng-click="twoRowList()">
                <span class="glyphicon glyphicon-th-large"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div ng-class="classListItem" class="col-md-12" ng-repeat="item in products| filter:search">
            <div class="thumbnail well col-md-12">
                <div class="col-md-3">
                    <img ng-src={{item.photo}}>
                </div>
                <div class="col-md-9" ng-class="innerBlockDescr">
                    <h3>{{item.name}}</h3>
                    <h5>{{item.description}}</h5>
                    <h4>Цена : {{item.price | currency}}</h4>
                    <button class="btn btn-primary" ng-click="singleItem(item)">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination-wrap">
        <ul class="pagination">
            <li ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum()==page.link}"><a ng-bind-html="page.name"></a></li>
        </ul>
    </div>
</div>
